.banner_2 {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/bg.png) center no-repeat;
    background-size: cover;
    height: 50vh;

  &-details--wrapper {
    display: inline-block;
  }
  
  &-container {
      display: flex;
      padding: 0 200px;
      margin: 0 auto;
      padding-top: 150px;
  }

  &__separator {
    width: 170px;
    height: 1px;
    margin: 45px 350px 45px;
    background-color: $colorWhite;
  }

&-title {
    font-family: $fontRaleway;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $colorWhite;
  }

&-descr {
    font-family: $fontRaleway;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: $colorWhite;
  }

}

