.banner_2 {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/bg.png) center no-repeat;
    background-size: cover;
    height: 50vh;
  

&__container {
    display: flex;
    padding: 0 100px;
    margin: 0 auto;
    padding-top: 250px;
  }
  &__separator {
    width: 170px;
    height: 1px;
    margin: 45px 350px 45px;
    background-color: white;
  }

&__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

&__descr {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  
&__btn {
    background: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: white;
    height: 58px;
    width: 270px;
    border-radius: 0px;
    margin: 60px 300px;  
  }
}
