.banner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/banner__image.png) center no-repeat;
    background-size: cover;
    height: 100vh;

    &__logo {
        width: 100px;
        height: 52px;
        position: absolute;
    }

    &__title {
        width: 670px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        @include remLh (56)
        @include fontSize (48);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: start;
        padding: 30px 0 0;

        @include mediaTablet {
          @include fontSize(36)
          @include remLh(42)
        }


        @include mediaMobile {
          @include fontSize(36)
          @include remLh(42)
        }
    }

    &__container {
        display: flex;
        padding: 0;
        margin: 170px 170px;


        @include mediaTablet {
            width: 984px;
        }

        @include mediaMobile {
            width: 100%;
        }
    }

    &__details-wrapper {
        display: inline-block;
      }

    &__descr {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

      &__btn {
        background: rgba(0, 0, 0, 0.5);
        background-color: transparent;
        border: 2px solid #FFFFFF;
        color: white;
        height: 58px;
        width: 270px;
        border-radius: 0px;
        margin: 40px 0;
      }      
}


.forms {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 470px;
    border-radius: 10px;
    margin: 0px 50px 153px;

    &__controls {
        display: flex;
        flex-direction: column;
        padding: 100px 60px 75px 50px;
        height: 450px;
        width: 470px;
    } 
}    


    .form__title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #333;
        text-align: center;
        margin-bottom: 70px;

      &__title--text-red {
        color: #EC7979;
      }

      &__control {
        padding: 16px 0;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        border-bottom: 1px solid #BDBDBD;
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 14px;
        color: #BDBDBD;
      }
     
      &__get-start-btn {
        border: none;
        height: 60px;
        background: #EC7979;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        border-radius: 0px 0px 10px 10px;
        text-transform: capitalize;
        -webkit-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
      }
    }    

    .banner__separator {
        width: 170px;
        height: 1px;
        margin: 45px 0px 45px;
        background-color: white;
      }
