.rewies {
  
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0 50px 0;
    color: #000000;
  }

  .customers {
    margin: 30px;


      &_title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
        padding: 50px 0;
        color: #000000;
      }
  
      &_secondary-title {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        padding: 50px 0;
        color: #86878B;
      }
    }
  
    .comments {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        padding-block: 30px;
    }

    .customer {
    
      &__text {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 21px;
        color: #86878B;
        margin: 30px;
        padding: 30px 30px;
        top: 50%;
        background:#E2E2E2;
        border-radius: 10px;
    }
         &__::after {
          content: "";
          position: absolute;
          border: 30px solid transparent;
          border-top: 40px solid #e2e2e2;
          bottom: 0;
          left: 20%;
         }
      }
      
  
    .customers {
  
      &__user-descr {
        display: flex;
        justify-content: center;
      }
      
      &__avatar {
        width: 100px;
        height: 100px;
      }

      &__user-info {
        margin: 10px 50px;
      }
      
      
      &_name {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #000000;
      }
      
      &_post {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        padding-top: 20px;
        color: #000000;
      }
    }
  
  