.footer-container {
  background-color: #000;
  color: $colorWhite;
  position: absolute;
  width: 100%;
}

.footer {
   &__icons {
    display: flex;
    margin: 40px 500px;
  }
  
  &__img {
    padding: 10px 30px;
  }

  &__logo {
    margin: 50px 800px;
  }
}
