
.social {

  &__container {
      display: flex;
      width: 100%;
      background: #F8EFEF;
      padding-top: 10px;
        @include mediaMobile {
        text-align: center;
      }
  }
  
  &__icons {
    display: flex;
    margin: 30px 50px 30px;

  }

  &__img {
    padding: 15px;
    @include flexCenter;
    @include mediaMobile {
      margin-right: 20px;
    }
  }
  
 &__media {
    margin: 10px;
  }
  
 &__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: $colorBlackText;
  padding: 15px 0;

    @include fontStyle($fontOpenSans,$fontBold,24);
    color: $colorBlackText;
    margin-bottom: 25px;
    @include mediaMobile {
      @include fontSize(18);
    }
 }
  
  &__secondary-title {
    font-family: $fontRaleway;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #86878B;
    padding: 10px 0px;
    text-align: start;

    @include fontStyle(null,$fontNormal,18);
        color: $colorDarkGrey;
				@include mediaMobile {
					@include fontSize(14);
					margin-bottom: 30px;
				}
    }
}