.tabs {
    width: 1170px;
    height: 540px;
    background: white;


    &__container {
      width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
      
    }
  
    &__list {
      display: flex;
      position: relative;
    }
  
    &__item {
      position: relative;
      padding: 9px 30px;
      width: 200px;
      background: white;
      z-index: 2;
    }
  
      .tab-item__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        text-transform: uppercase;
        text-align: center;
      }
  
      &--active, 
      &:hover {
        top: 1px;
        cursor: pointer;
        border-top: 1px solid #C6CBCD;
        border-left: 1px solid #C6CBCD;
        border-right: 1px solid #C6CBCD;
      }
  
      &__tab-content {
        display: flex;
        border: 1px solid #C6CBCD;
      }
  
        .tab-content__image--wrapper {
          width: 40%;
          display: flex;
        }
  
        .tab-content {

            &__details {
              padding: 50px 30px 50px 100px;
              width: 60%;
    
              .btn-red {
                background-color: #c56565;
                color: #FFFFFF;
                transition: background-color .3s ease-in-out;
              }
              
              .btn {
                width: 270px;
                height: 60px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 18px;
                border: none;
              }
            }
            
            &__title {
              font-family: 'Open Sans', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              color: #000000;
              margin-bottom: 55px;
            }
            
            &__descr {
              font-family: 'Raleway';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 21px;
              color: #000000;
              margin-bottom: 30px;
            }
          }
}
  
        
      
      