.btn {
    width: 270px;
    height: 60px;
    font-family: $fontFamily;
    font-weight: 600;
    font-size: 18px;
    border: none;

    &-red {
        background-color: #c56565;
        color: #FFFFFF;
        transition: background-color .3s ease-in-out;
      }     
}

.button {
  width: 270px;
  height: 60px;
  border: 0px;
  font-family: $fontFamily;
  font-weight: 600;
  background-color: #EC7979;
  color: #FFFFFF;
}

.banner_2-btn {
  background: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: white;
  height: 58px;
  width: 270px;
  border-radius: 0px;
  margin: 60px 300px;
}