.button {
    width: 270px;
    height: 58px;
    @include fontStyle($fontOpenSans, $fontSemiBold, 18);
    color: $colorWhite;
    @include transitionAll;

    &:hover {
        @include cursorPointer;
    }

    @include mediaTablet {
        width: 180px;
        height: 50px;
    }
    @include mediaMobile {
        width: 100%;
    }

    &-white {
        border: $borderBtn;
        background: rgba(0, 0, 0, 0);
        &:hover {
            border: none;
            background-color: $colorDarkRed;
        }
        &:active {
            background-color: $colorRed;
            box-shadow: inset 0px 0px 10px $colorDarkRed;
        }
    }
    
    &-red {
        background: $colorRed;
        border: none;
        color: $colorWhite;

        &:hover {
            background-color: $colorDarkRed;
        }
        &:active {
            background-color: $colorRed;
        }
    }
}

.form__get-start-btn {
    @include fontSize(15);
    background: $colorRed;
    border-radius: 0px 0px 10px 10px;
    width: 470px;
    padding: 20px 0;
    border: 0;
    color: $colorWhite;
}
