.btn {
    width: 270px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;

    &-red {
        background-color: #c56565;
        color: #FFFFFF;
        transition: background-color .3s ease-in-out;
      }     
}

.button {
  width: 270px;
  height: 60px;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #EC7979;
  color: #FFFFFF;
}