
.banner{
    &__separator {
        width: 170px;
        height: 1px;
        margin: 55px 0 40px;
        background-color: $colorWhite;
        @include mediaTablet {
            width: 140px;
            margin: 40px 0 30px;
        }
        @include mediaMobile {
            width: 135px;
            margin: 40px auto;
        }
    }
    
    &_2-separator {
        width: 170px;
        height: 1px;
        margin: 45px 350px 45px;
        background-color: $colorWhite;
      }
}


.separator {
    width: 170px;
    height: 1px;
    margin: 55px auto 45px auto;

    &--orange {
        background-color: $colorRed;
    }
}