* {
    box-sizing: border-box;
}

:root {
    --body-color: #fff;
    --basic-font: 16px, sans-serif;
}

img {
    max-width: 100%;
    @include flex;
}

html, body {
    font: var(--basic-font);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background: var(--body-color);
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: flex;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

.container {
    width: var(--large-container);
	margin: $marginCenter;
	padding: 0 15px;

    @include mediaTablet {
        width: 984px;
    }

    @include mediaMobile {
        width: 100%;
        padding: 0 20px;
    }
}

