$fontRaleway: 'Raleway', sans-serif;

$borderColorGrey: #BABBC5;
$backgroundColor: #000;
$color: #fff;
$borderColor: #EC7979;
$commentsCustomerColor: #86878B;
$borderBottomColor :#C6CBCD;
$borderColor2: #f5f5f5;
$backgroundColor2: #333;
$btnBackgroundColor: #c56565;
$borderTop: #e2e2e2;



