@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.google.com/specimen/Open+Sans?query=sans&preview.text=sans-&preview.text_type=custom");
:root {
  --large-container: 1200px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --body-color: #fff;
  --basic-font: 16px, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
  font: var(--basic-font);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: var(--body-color);
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: var(--large-container);
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1199px) {
  .container {
    width: 984px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.button {
  width: 270px;
  height: 58px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .button {
    width: 180px;
    height: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .button {
    width: 100%;
  }
}
.button-white {
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0);
}
.button-white:hover {
  border: none;
  background-color: #AB4949;
}
.button-white:active {
  background-color: #EC7979;
  -webkit-box-shadow: inset 0px 0px 10px #AB4949;
          box-shadow: inset 0px 0px 10px #AB4949;
}
.button-red {
  background: #EC7979;
  border: none;
}
.button-red:hover {
  background-color: #AB4949;
}
.button-red:active {
  background-color: #EC7979;
}

.banner__separator {
  width: 170px;
  height: 1px;
  margin: 55px 0px 45px;
  background-color: white;
}
@media screen and (max-width: 1199px) {
  .banner__separator {
    width: 140px;
    margin: 40px auto 30px;
  }
}
@media screen and (max-width: 1023px) {
  .banner__separator {
    width: 135px;
    margin: 40px auto;
  }
}
.banner_2-separator {
  width: 170px;
  height: 1px;
  margin: 45px 350px 45px;
  background-color: white;
}

.separator {
  width: 170px;
  height: 1px;
  margin: 55px auto 45px auto;
}
.separator--orange {
  background-color: #EC7979;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #000000;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1023px) {
  .header .container {
    padding: 20px;
  }
}
.header__logo {
  width: 100%;
  height: 100%;
}
.header__logo--wrapper {
  width: 85px;
  height: 32px;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .nav__burger {
  display: none;
  outline: none;
  background: transparent;
  border: none;
}
@media screen and (max-width: 1023px) {
  .header .nav__burger {
    display: block;
  }
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav__list-item {
  width: 115px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .nav__list-item:hover {
  background-color: #EC7979;
  cursor: pointer;
}
.header .nav__list-item:active {
  background-color: #AB4949;
}
.header .nav__list-link {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
}
.header .nav__list-link:link {
  color: #fff;
}
.header .nav__list-link:visited {
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .header .nav {
    display: none;
  }
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../images/banner__image.png") center;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/banner__image.png") center;
  background-size: cover;
  height: 100vh;
}
@media screen and (max-width: 1199px) {
  .banner {
    height: 100%;
  }
}
.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 245px 15px 185px;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .banner__container {
    padding: 150px 15px 75px;
  }
}
@media screen and (max-width: 1023px) {
  .banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 15px;
  }
}
.banner__details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1023px) {
  .banner__details-wrapper {
    margin: 0;
  }
}
.banner__logo {
  width: 165px;
  height: 55px;
  margin-bottom: 70px;
}
@media screen and (max-width: 1199px) {
  .banner__logo {
    width: 65px;
    height: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .banner__logo {
    display: none;
  }
}
.banner__title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .banner__title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner__title {
    text-align: center;
  }
}
.banner__descr {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  margin-bottom: 42px;
}
@media screen and (max-width: 1199px) {
  .banner__descr {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner__descr {
    padding: 0;
    text-align: center;
  }
}
.banner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 60px 75px 50px;
  height: 450px;
  width: 470px;
}
.form__title {
  margin-bottom: 75px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px 15px 0 15px;
}
@media screen and (max-width: 1199px) {
  .form__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .form__title {
    font-size: 0.875rem;
    margin-bottom: 35px;
  }
}
.form__title__title--text-red {
  color: #EC7979;
}
.form__title__control {
  padding: 16px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
}
.form__title__get-start-btn {
  border: none;
  height: 60px;
  background: #EC7979;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 0px 0px 10px 10px;
  text-transform: capitalize;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.about-us {
  width: 1170px;
  height: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}
.about-us__skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  list-style: none;
}
.about-us__skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.about-us__descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: capitalize;
}
.about-us__image--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us__image {
  width: 170px;
  height: 170px;
}
.about-us__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}
.about-us__secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #86878B;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 110px;
}
.about-us__main-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  padding: 50px;
}

.rewies {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0 50px 0;
  color: #000000;
}

.customers {
  margin: 30px;
}
.customers_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
  color: #000000;
}
.customers_secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 50px 0;
  color: #86878B;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  padding-block: 30px;
}

.customer__text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  color: #86878B;
  margin: 30px;
  padding: 30px 30px;
  top: 50%;
  background: #E2E2E2;
  border-radius: 10px;
}
.customer__::after {
  content: "";
  position: absolute;
  border: 30px solid transparent;
  border-top: 40px solid #e2e2e2;
  bottom: 0;
  left: 20%;
}

.customers__user-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customers__avatar {
  width: 100px;
  height: 100px;
}
.customers__user-info {
  margin: 10px 50px;
}
.customers_name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #000000;
}
.customers_post {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  color: #000000;
}

.pricing__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 450px;
  color: #000000;
}
.pricing__secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 370px;
  color: #86878B;
}

.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.options-inner {
  width: 370px;
  height: 510px;
  border: 2px solid #f5f5f5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.options-inner:hover {
  cursor: pointer;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.options__list {
  text-align: center;
  background-color: #f5f5f5;
  height: 300px;
}
.options__item {
  height: 50px;
  line-height: 50px;
  color: #86878B;
}
.options .options-titles__item {
  border-bottom: 2px solid #fff;
  text-align: center;
}
.options .options-titles__item:first-child {
  height: 60px;
  line-height: 60px;
}
.options .options-titles__item:nth-child(2) {
  padding: 30px 0;
}
.options .options-titles__item:last-child {
  height: 50px;
  line-height: 50px;
}
.options .options-titles__list {
  background-color: #333;
  color: #f5f5f5;
  text-align: center;
}

.tabs {
  width: 1170px;
  height: 540px;
  background: white;
}
.tabs__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.tabs__item {
  position: relative;
  padding: 9px 30px;
  width: 200px;
  background: white;
  z-index: 2;
}
.tabs .tab-item__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.tabs--active, .tabs:hover {
  top: 1px;
  cursor: pointer;
  border-top: 1px solid #C6CBCD;
  border-left: 1px solid #C6CBCD;
  border-right: 1px solid #C6CBCD;
}
.tabs__tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #C6CBCD;
}
.tabs .tab-content__image--wrapper {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs .tab-content__details {
  padding: 50px 30px 50px 100px;
  width: 60%;
}
.tabs .tab-content__details .btn-red {
  background-color: #c56565;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.tabs .tab-content__details .btn {
  width: 270px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: none;
}
.tabs .tab-content__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  margin-bottom: 55px;
}
.tabs .tab-content__descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
}

.banner_2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/bg.png) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.png) center no-repeat;
  background-size: cover;
  height: 50vh;
}
.banner_2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  margin: 0 auto;
  padding-top: 250px;
}
.banner_2__separator {
  width: 170px;
  height: 1px;
  margin: 45px 350px 45px;
  background-color: white;
}
.banner_2__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.banner_2__descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.banner_2__btn {
  background: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: white;
  height: 58px;
  width: 270px;
  border-radius: 0px;
  margin: 60px 300px;
}

.contact-us {
  margin-top: 70px;
  background-color: #fff;
}
.contact-us_controls--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  gap: 0 30px;
}
.contact-us__left-controls {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-us__control {
  padding: 16px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
}
.contact-us__right-controls {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-us__control--message-field {
  width: 100%;
  height: 100%;
  resize: none;
}
.contact-us__send-btn {
  display: block;
  border: none;
  width: 370px;
  height: 60px;
  margin: 0 auto;
  background: #EC7979;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.contact__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
}
.contact-container {
  margin: 50px 800px;
}
.contact__secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 140px;
  background: #F8EFEF;
}
.social__icons {
  margin: 30px 50px 30px;
}
.social__img {
  padding: 10px 30px;
}
.social__media {
  margin: 10px 300px;
}
.social__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #333333;
  padding: 15px 0;
}
.social__secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #86878B;
  padding: 10px 0px;
  text-align: start;
}

.container__footer-container {
  background-color: #000;
  color: #fff;
  position: absolute;
  width: 100%;
}

.footer__icons {
  margin: 30px 900px;
}
.footer__img {
  padding: 10px 30px;
}
.footer__logo {
  margin: 50px 1250px;
}/*# sourceMappingURL=main.css.map */