@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.google.com/specimen/Open+Sans?query=sans&preview.text=sans-&preview.text_type=custom");
:root {
  --large-container: 1170px;
}

:root {
  --body-color: #fff;
  --basic-font: 16px, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  font: var(--basic-font);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: var(--body-color);
}

.main {
  flex: 1 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.container {
  width: var(--large-container);
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 70px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 984px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.separator--orange {
  background-color: #EC7979;
  width: 170px;
  height: 1px;
  margin: 55px auto 45px auto;
}

.btn {
  width: 270px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: none;
}
.btn-red {
  background-color: #c56565;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}

.button {
  width: 270px;
  height: 60px;
  border: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #EC7979;
  color: #FFFFFF;
}

.about-us{
  padding: 100px 0 50px 0;
}

.about-us .about-us__skills-list {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  list-style: none;
}
.about-us .about-us__skills-list .skill-item__descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.about-us .about-us__skills-list .skill-item__image {
  width: 170px;
  height: 170px;
}
.about-us .about_us__skills-list .skill-item__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}
.about-us .about-us__skills-list .skill-list__skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #86878B;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 110px;
}
.about-us__main-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
}

.rewies  {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0 50px 0;
  color: #000000;
}


.customers_secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 50px 0;
  color: #86878B;
}
.comments {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  padding-block: 30px;
}
.comments::after {
  content: "";
  position: absolute;
  border: 30px solid transparent;
  border-top: 40px solid #e2e2e2;
  bottom: 0;
  left: 20%;
}

.customer__text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  color: #86878B;
  margin: 30px;
  padding: 30px 30px;
  top: 50%;
  background:#E2E2E2;
  border-radius: 10px;
}
.customers__user-descr {
 display: flex;
 justify-content: center;
}

.customers__avatar {
  width: 70px;
  height: 70px;
}

.customers_name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding-left: 90px;
  color: #000000;
}
.customers_post {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding-left: 90px;
  padding-top: 20px;
  color: #000000;
}

.header {
  background-color: #000;
  color: #fff;
  position: absolute;
  width: 100%;
}


.container.header-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}

.nav__list {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}
.nav__list-item {
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 35px;
}

.pricing__options {
  padding: 100px 0 50px 0;
  background: white;
}

.pricing__options .pricing_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.pricing__options .pricing__secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 50px 370px;
  color: #86878B;
}
.pricing__options .options-container {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
}
.pricing__options .options-inner {
  width: 370px;
  height: 510px;
  border: 2px solid #f5f5f5;
  transition: 0.3s ease;
}
.pricing__options .options-inner:hover {
  cursor: pointer;
  transform: translateY(-20px);
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing__options .options__list {
  text-align: center;
  background-color: #f5f5f5;
  height: 300px;
}

.pricing__options .options__item {
  height: 50px;
  line-height: 50px;
  color: #000;
  background-color: white;
  margin-bottom: 5px;
}
  .options-titles__list {
    background: #333333;
    color: white;
    margin-bottom: 10px;
}

 .options-titles__item {
  border-bottom: 2px solid #fff;
  text-align: center;
  padding: 30px 0;
  padding-top: 10px;
}

.options .options-titles__item:first-child {
  padding: 15px 0;
}

.options-titles__item:nth-child(2) {
  padding: 30px 0;
}

.options-titles__item:last-child {
  padding: 15px 0;
}

.options .options-titles__list {
  background-color: #333;
  color: #f5f5f5;
  text-align: center;
}

.tabs {
  padding: 100px 0 50px 0;
  background: white;
}

.tabs__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.tabs__list {
  display: flex;
  position: relative;
}
.tabs__item {
  position: relative;
  padding: 9px 30px;
  width: 200px;
  background: white;
  z-index: 2;
}
.tab-item__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.tabs--active, .tabs:hover {
  top: 1px;
  cursor: pointer;
  border-top: 1px solid #C6CBCD;
  border-left: 1px solid #C6CBCD;
  border-right: 1px solid #C6CBCD;
}
.tabs__tab-content {
  display: flex;
  border: 1px solid #C6CBCD;
}
.tab-content__image--wrapper {
  width: 40%;
  display: flex;
}
.tab-content__details {
  padding: 50px 30px 50px 100px;
  width: 60%;
}
.tab-content__details .btn-red {
  background-color: #c56565;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}
.tab-content__details .btn {
  width: 270px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: none;
}
.tab-content__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  margin-bottom: 55px;
}
.tab-content__descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */

.banner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/banner__image.png) center no-repeat;
    background-size: cover;
    padding-top: 15%;
}

.banner__logo {
    width: 250px;
    height: 100px;
}

.banner__title {
  width: 670px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: start;
  padding: 30px 0 0;
}

.banner__container {
  display: flex;
  padding: 0;
  margin: 170px 170px;
}

.banner__details-wrapper {
  display: inline-block;
}

.banner__descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.banner__btn {
  background: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: white;
  height: 58px;
  width: 270px;
  border-radius: 0px;
  margin: 40px 0;
}

.forms {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 470px;
  border-radius: 10px;
  margin: 0px 50px 153px;
}

.forms__controls {
  display: flex;
  flex-direction: column;
  padding: 100px 60px 75px 50px;
  height: 450px;
  width: 470px;
}

.form__title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  margin-bottom: 70px;
}

.form__title--text-red {
  color: #EC7979;
}

.form__control {
  padding: 16px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
}

.form__get-start-btn {
  border: none;
  height: 60px;
  background: #EC7979;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 0px 0px 10px 10px;
  text-transform: capitalize;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.banner__separator {
  width: 170px;
  height: 1px;
  margin: 45px 0px 45px;
  background-color: white;
}